body {
    font-family: "Roboto", sans-serif;
    background-color: #f9f7fe;



}

h1 {
    text-align: center;
    margin-top: 0;
    font-size: 44px;

}

h2 {
    margin: 0;
    font-size: 34px;
}

select {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 16px;
    box-shadow:  rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-radius: 5px;

}

footer {
    text-align: center;
    font-style: italic;
    font-size: 14px;


}

a {
    font-weight: 800;
    color: black;
}

a:hover {
    color: red;

}

.container {
    max-width: 600px;
    margin: 60px auto;
    display: block;
    background-color: #ffffff;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 10px;
    opacity: 0.9;
}


.city {
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
    padding-bottom: 20px;
}

.city:last-child {
    border: none;
}

.date {
    font-size: 12px;
    opacity: 0.5
    ;

}

.time {
    font-size: 44px;
    font-weight: 600;

}

.time small {
    font-size: 22px;
    vertical-align: middle;
}